<ion-view view-title="绑定银行卡">
   <ion-content>

        <div id="main">
            <div class="g-bank-bind">
                <div class="step-tip">
                    <div class="every-step-tip step1 step-active">
                        <div class="step-sign">
                            <div class="step-circle">1</div>
                        </div>
                        <div class="step-text">设置交易密码</div>
                    </div>
                    <div class="every-step-tip step2">
                        <div class="step-sign">
                            <div class="step-circle">2</div>
                        </div>
                        <div class="step-text">绑定银行卡</div>
                    </div>
                    <div class="every-step-tip step3">
                        <div class="step-sign">
                            <div class="step-circle">3</div>
                        </div>
                        <div class="step-text">绑卡成功</div>
                    </div>
                </div>

            </div>
        </div>  
    </ion-content>
</ion-view>
