<ion-view view-title="帮助中心">
  <ion-content class="padding">
  	<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    <div class="list card">
        <div class="item item-divider">1. 资讯推送</div>
        <div class="item item-body">
            <div>
                近年来卡片(card)的应用越来越流行，卡片提供了一个更好组织信息展示的工具。我们可以很灵活的控制卡片的显示效果，甚至实现动画效果。
            </div>
        </div>
    </div>
    <div class="list card">
        <div class="item item-divider">2. 圈子推送</div>
        <div class="item item-body">
            <div>
                卡片(card)默认样式带有box-shadow(阴影)，由于性能的原因，和他类似的元素像 list list-inset 并没有阴影。
            </div>
        </div>
    </div>
    <div class="list card">
        <div class="item item-divider">3. 圈子推送</div>
        <div class="item item-body">
            <div>
                卡片(card)默认样式带有box-shadow(阴影)，由于性能的原因，和他类似的元素像 list list-inset 并没有阴影。
            </div>
        </div>
    </div>
    <div class="list card">
        <div class="item item-divider">4. 圈子推送</div>
        <div class="item item-body">
            <div>
                卡片(card)默认样式带有box-shadow(阴影)，由于性能的原因，和他类似的元素像 list list-inset 并没有阴影。
            </div>
        </div>
    </div>
    <p>
      <a class="button icon icon-right ion-chevron-right" href="#/link">去联系我们</a>
    </p>
  </ion-content>
</ion-view>

