 <ion-view view-title="登录">
    <ion-content class="padding" >
     	<div class="list list-inset">
     	    <label class="item item-input">
     	       <i class="icon ion-person placeholder-icon"></i>
     	       <input type="text" placeholder="用户名">
     	    </label>
 	    </div>
    	<div class="list list-inset">
    	    <label class="item item-input">
    	       <i class="icon ion-ios-locked placeholder-icon"></i>
    	       <input type="password" placeholder="密码">
    	    </label>
	    </div>
    	<div class="list list-inset">
    	    <button class="button button-block button-positive" ng-click="actionSheet()">
    	      提交
    	    </button>
	    </div>
    </ion-content>
 </ion-view>

