<ion-view view-title="我的首页">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    
    <ion-content>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" slide-interval=2000 show-pager="true" pager-click="pageClick(index)" active-slide="model.activeIndex" delegate-handle="delegateHandler">
            <ion-slide>
                <div class="box blue">
                    <img src="http://file106.mafengwo.net/s9/M00/0C/60/wKgBs1Zn77-ALHs4AAekT0ej6b095.jpeg?imageMogr2%2Finterlace%2F1">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow">
                    <img src="http://file104.mafengwo.net/s9/M00/4D/B5/wKgBs1ZhTiWARg1hAAfN5lWFgi885.jpeg?imageMogr2%2Finterlace%2F1">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box pink">
                    <img src="http://file107.mafengwo.net/s9/M00/91/F2/wKgBs1ZmYwiAODvOAAdqnyo5Mt033.jpeg?imageMogr2%2Finterlace%2F1">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box pink">
                    <img src="http://file106.mafengwo.net/s9/M00/54/54/wKgBs1ZlWfCANCXOAAekYpOPJKU53.jpeg?imageMogr2%2Finterlace%2F1">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box pink">
                    <img src="http://file103.mafengwo.net/s9/M00/4D/C4/wKgBs1ZhTjiAYQ3KAAdrUwWFD4k86.jpeg?imageMogr2%2Finterlace%2F1">
                </div>
            </ion-slide>
        </ion-slide-box>

        <div class="list">
            <a class="item item-thumbnail-left" href="#" ng-repeat="chat in chats">
                <img src="{{chat.face}}">
                <h2>{{chat.name}}</h2>
                <p>{{chat.lastText}}</p>
            </a>
        </div>
        
    </ion-content>
</ion-view>
