 <ion-view view-title="测试">
    <ion-content>
     	<div class="row">
          <div class="col col-50">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
        </div>
        <label class="item item-input">
           <span class="input-label" style="text-align:right">dsf</span>
           <input type="text">
         </label>
         <label class="item item-input">
           <span class="input-label" style="text-align:right">Pa</span>
           <input type="password">
         </label>


         <p>
            <button class="button button-outline button-positive" ng-click="takePicture()">
                takePicture
            </button>
         </p>
         
    </ion-content>
 </ion-view>
